.main {
  /* gradient */
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    207deg,
    rgba(63, 94, 251, 0.7) 10%,
    rgba(252, 70, 107, 1) 80%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    207deg,
    rgba(63, 94, 251, 0.7) 10%,
    rgba(252, 70, 107, 1) 80%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: inherit;
  width: 100%;
}

.messages {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.inner {
  padding: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
}
