.stickers {
  font-family: "Roboto", sans-serif;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
}

.sticker {
  width: 100px;
  margin: 5px;
}

.sticker:hover {
  cursor: pointer;
}

@media (max-width: 350px) {
  .sticker {
    width: 70px;
  }
}
