.message {
  width: fit-content;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  margin: 5px 0;
  font-family: inherit;
}

.anotherUserMessage {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin: 5px 0;
  font-family: inherit;
}

.anotherUserStickerBody:hover {
  cursor: pointer;
}

.stickerBody:hover {
  cursor: pointer;
}

.stickerMessage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 5px 0;
  font-family: inherit;
}

.anotherUserStickerMessage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 5px 0;
  font-family: inherit;
}

.showStickerDate {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: -70px;
  display: inline-block;
  display: flex;
  background: rgba(70, 84, 236, 0.9);
  border: none;
  border-radius: 10px;
  padding: 0 5px;
  width: 80px;
  height: 20px;
}

.anotherUserShowStickerDate {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 255px;
  display: inline-block;
  display: flex;
  background: rgba(124, 62, 240, 0.9);
  border: none;
  border-radius: 10px;
  padding: 0 5px;
  width: 80px;
  height: 20px;
}

.showStickerDate .messageTime {
  color: #222121;
}

.anotherUserShowStickerDate .anotherUserMessageTime {
  color: #222121;
}

.hideStickerDate {
  display: none;
}

.anotherUserHideStickerDate {
  display: none;
}

.sticker {
  width: 200px;
}

.authorAvatar {
  margin: 10px 0;
  margin-right: 10px;
  padding: 5px;
  position: relative;
  top: 15px;
  left: 5px;
}

.anotherUserAuthorAvatar {
  margin: 10px 0;
  margin-right: 10px;
  padding: 5px;
  position: relative;
  top: 15px;
  left: 5px;
}

.stickerAvatar {
  margin: 10px 0;
  margin-right: 15px;
  padding-right: 0;
}

.anotherUserStickerAvatar {
  margin: 10px 0;
  margin-right: 15px;
  padding-right: 0;
}

.messageBody {
  background: rgba(70, 84, 236, 0.9);
  padding: 5px;
  border: none;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 250px;
  position: relative;
  font-size: 14px;
  min-width: 100px;
  margin-bottom: 5px;
}

.anotherUserMessageBody {
  background: rgba(124, 62, 240, 0.9);
  padding: 5px;
  border: none;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 250px;
  position: relative;
  font-size: 14px;
  min-width: 100px;
  margin-bottom: 5px;
}

.messageBody::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: -4px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent rgba(70, 84, 236, 0.9);
  transform: rotate(280deg) skew(5deg, 15deg);
  border-style: solid;
  border-width: 9px;
}

.anotherUserMessageBody::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  right: -8px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent rgba(124, 62, 240, 0.9);
  transform: rotate(265deg) skew(5deg, 15deg);
  border-style: solid;
  border-width: 9px;
}

.anotherUserMessageBody p {
  margin: 0;
  padding: 2px;
  color: #ec9fe9;
  margin-bottom: 10px;
}

.messageBody p {
  margin: 0;
  padding: 2px;
  color: #9bbff5;
  margin-bottom: 10px;
}

.messageTime {
  position: absolute;
  font-size: 12px;
  color: #222121;
  bottom: 3px;
  right: 30px;
}

.anotherUserMessageTime {
  position: absolute;
  font-size: 12px;
  color: #222121;
  bottom: 3px;
  left: 30px;
}

.checking {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.anotherUserChecking {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 1px;
  left: 5px;
}

@media (max-width: 350px) {
  .sticker {
    width: 100px;
  }

  .messageTime {
    font-size: 10px;
  }

  .anotherUserMessageTime {
    font-size: 10px;
  }

  .checking {
    width: 18px;
    height: 18px;
  }

  .anotherUserChecking {
    width: 18px;
    height: 18px;
  }

  .showStickerDate {
    right: -80px;
    width: 70px;
  }

  .anotherUserShowStickerDate {
    right: 145px;
    width: 70px;
  }

  .messageBody {
    max-width: 180px;
    position: relative;
    font-size: 12px;
    min-width: 90px;
    margin-bottom: 5px;
  }

  .anotherUserMessageBody {
    max-width: 180px;
    position: relative;
    font-size: 12px;
    min-width: 90px;
    margin-bottom: 5px;
  }
}
